main{
    display: flex;
    justify-content: center;
}

.calendar{
    max-width: 594px;
    border: 1px solid black;
    border-collapse: collapse;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.75);
}

.meses{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.mes{
    text-align: center;
}

.dias{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.dia{
    box-sizing: border-box;
    padding: 5px;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2px;

}

.domingo{
    background-color: red;
    color: white;
    border-left: 2px solid black;
}

.hoje{
    background-color: green;
}

.mesAnterior{
    background-color: rgba(80, 80, 80, 0.1);
    color: rgba(0, 0, 0, 0.6);
}

.meses > span{
    color: rgb(0, 0, 150);
    text-decoration: underline;
    cursor: pointer;
}

.meses > span:hover{
    color: rgb(0, 0, 200);
}